* {
	font-family: 'Lato', sans-serif;
	color: #EBEBEB;
}

* {
	border:1px solid red !important;
}

* {
	-webkit-box-sizing: border-box;
	-mox-box-sizing:border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.page {
	height:620px;
}

#header {
	background-image: url(http://flickholdr.iwerk.org/700/700);
}

#poem {
	background-image: url(../img/single_person.jpg);
}

.photo {
	background-color: black;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	width: 100%;
}

.content {
	margin-left: 20px;
	margin-right: 20px;
}

.navbar {
	padding-top: 30px;
	padding-left: 40px;
}

.title {
	margin-top: 100px;
	padding-top: 20px;
	padding-bottom: 50px;
	text-align: center;
}