* {
	font-family: 'Montserrat', sans-serif;
}

/*
* {
	border:1px solid red !important;
}
*/

* {
	-webkit-box-sizing: border-box;
	-mox-box-sizing:border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

/* Button - general */
.btn-primary,
.btn-primary:focus {
	background-color: #FC6B0C;
	border-color: #FC6B0C;
	padding-left: 18px;
	padding-right: 18px;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 3px;
}

.btn-primary:active,
.btn-primary.active,
.btn-primary:focus:active,
.btn-primary:hover {
	background: #b74a02;
	border-color: #b74a02;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.button-transparent:focus,
.button-transparent {
	background-color: transparent;
	border-color: #FC6B0C;
	color: #ffffff;
	padding-left: 18px;
	padding-right: 18px;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 3px;
}

.button-transparent:active
.button-transparent.active,
.button-transparent:focus:active,
.button-transparent:hover {
	background-color: #FC6B0C;
	border-color: #FC6B0C;
	color: #ffffff;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

/* page */
.page {
	color: #252c2f;
	padding-top:100px;
	padding-bottom:120px;
}

.page .row {
	text-align: center;
}

.page .content {
	vertical-align:middle;

	display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;

    max-width: 37.5em; /*600px*/

    padding: 25px;
}

.page h2 {
	font-size: 38px;
	font-weight: bold;

	padding-bottom: 60px;
}

.page h4 {
	font-size: 28px;
}

.page li {
	line-height: 28px;
	font-size: 16px;
	color: #5E696F;
}


.page-photo {
	padding-bottom: 30px;
	padding-right: 30px;
}


/* end page */

/* Header */
#header .button-transparent {
	margin-top: 50px;
}

/* end header */

#header {
	background-image: url(http://flickholdr.iwerk.org/700/700);
}

#poem {
	background-image: url(../img/single_person.jpg);
	background-position: left center;
}

.photo {
	height:620px;

	background-color: black;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	width: 100%;

	color: #EBEBEB;
}

.header-content {
	margin-left: 20px;
	margin-right: 20px;
}

.navbar {
	padding-top: 30px;
	padding-left: 40px;
}

.title {
	margin-top: 100px;
	padding-top: 20px;
	padding-bottom: 50px;
	text-align: center;
}

.quote {
	margin-top: 150px;
	font-family: 'Noticia Text', serif;
	font-style: italic;
	line-height: 150%;
	color: #252c2f;
}