* {
	font-family: 'Lato', sans-serif;
}

/*
* {
	border:1px solid red !important;
}
*/

* {
	-webkit-box-sizing: border-box;
	-mox-box-sizing:border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.page {
	color: #252c2f;
	padding-top:100px;
	padding-bottom:120px;
}

.page h2 {
	font-size: 38px;
	font-weight: bold;
}

.page h4 {
	font-weight: bold;
	font-size: 26px;
}

.page li {
	line-height: 28px;
	font-size: 16px;
	color: #5E696F;
}

#header {
	background-image: url(http://flickholdr.iwerk.org/700/700);
}

#poem {
	background-image: url(../img/single_person.jpg);
	background-position: left center;
}

.photo {
	height:620px;

	background-color: black;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	width: 100%;

	color: #EBEBEB;
}

.content {
	margin-left: 20px;
	margin-right: 20px;
}

.navbar {
	padding-top: 30px;
	padding-left: 40px;
}

.title {
	margin-top: 100px;
	padding-top: 20px;
	padding-bottom: 50px;
	text-align: center;
}

.page-heading {
	padding-bottom: 60px;
	text-align:center;
}

.page-photo {
	padding-bottom: 30px;
	padding-right: 30px;
}


.quote {
	margin-top: 150px;
}