/*
* {
	border:1px solid red !important;
}
*/

* {
	-webkit-box-sizing: border-box;
	-mox-box-sizing:border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
}

.fullscreen {
	width: 100%;
	height: 100%;
}

.fullwidth {
	width: 100%;
}

/* columns of same height styles */
.row-same-height {
    display: table;
    width: 100%;
}
.col-xs-height {
    display: table-cell;
    float: none !important;
}

@media (min-width: 768px) {
    .col-sm-height {
        display: table-cell;
        float: none !important;
    }
}
@media (min-width: 992px) {
    .col-md-height {
        display: table-cell;
        float: none !important;
    }
}
@media (min-width: 1200px) {
    .col-lg-height {
        display: table-cell;
        float: none !important;
    }
}

/* firefox fix */
.img-responsive {
    width: 100%;
}

/* vertical alignment styles */
.col-top {
    vertical-align:top;
}
.col-middle {
    vertical-align:middle;
}
.col-bottom {
    vertical-align:bottom;
}

/* hr's */
hr {
	border: none;
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: #333;
}

.hr1 {
	height: 1px;
}
.hr2 {
	height: 2px;
}
.hr3 {
	height: 3px;
}
.hr4 {
	height: 4px;
}
.hr5 {
	height: 5px;
}

.hr-light {
	background-color: #212121;
}

/*
* {
	font-family: 'Cabin', sans-serif;
}
*/
* {
	font-family: 'Lato', sans-serif;
}

/*
h1, h2, h3, h4 {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}
*/


.section--content {
	padding:30px 0 30px 0;
}

.note--title {
	margin:48px 0 0 0;
	text-align: center;
}

.note--text {
	margin:48px 0 48px 0;
}


.btn-primary,
.btn-primary:focus {
	background-color: #FC6B0C;
	border-color: white;
	border-width: 3px;
	padding-left: 18px;
	padding-right: 18px;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 3px;
}

.btn-primary:active,
.btn-primary.active,
.btn-primary:focus:active,
.btn-primary:hover {
	color: #FC6B0C;
	background: white;
	border-color: #FC6B0C;
	border-width: 3px;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

/* header */
.toolbar {

	width: 100%;
	padding: 30px 20px 14px 20px;
	margin: 0;

}

.logo {
	float: left;
	position: relative;
}

.logo-img {
	width:auto;
	max-height: 30px;
}

.contact {
	margin-top: 5px;
	float: right;
	position: relative;
}

.welcome {
	text-align: center;
	height: 190px;
	padding-top: 30px;
	padding-bottom: 30px;

}

.navigation {
	padding-top: 22px;
	padding-bottom: 15px;
}

.navigation-cell {
	padding-top: 5px;
	padding-bottom: 10px;
}

.navigation-button {
	text-decoration: none;
	color: #333;
}

.navigation-button:hover {
	text-decoration: none;
	color:#FC6B0C;
	font-weight: bold;
}


/* notes */

.note-title {
	text-align: center;
}

.note-text {
	text-align: left;
}

/* title */
.title {
	text-align: center;
	margin: 43px 0 36px 0;

	text-transform: uppercase;
}

/* photographers */


.photographer {
	text-align: center;
}

.photographer-notes {
	text-align: left;
	padding-left: 10px;
	padding-right: 10px; 
}

.photographer-choices {
	padding: 0 20px 0 20px;
	overflow: hidden;
	/*
	background-color: #F2F2E5;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-radius: 6px;
	*/

}

.photographer-button {
	text-decoration: none;
	color: black;
}

.photographer-button:hover {
	text-decoration: none;
}

.photographer-border:hover{
	background-color: #FC6B0C;
}

.photographer-border:hover .photographer-name,
.photographer-border:hover .photographer-button {
	color: white;
}


.photographer-border {
	border: 1px solid #DDDDDD;
	border-radius: 12px;
	background-color: white;
	padding: 0;
}

.photographer-border-active {
	border: 2px solid #FC6B0C;
	/*-webkit-box-shadow: 0 0 0px 2px #FC6B0C;
    -moz-box-shadow: 0 0 0px 2px #FC6B0C;
    box-shadow: 0 0 0px 2px #FC6B0C;*/

}


.photographer-option {
	padding:20px 35px 20px 35px;
}

.photographer-name {
	color: black;
}

.photographer-border-active .photographer-name {
	color: #FC6B0C;
}

.photographer-photo-frame {
    height:150px;
    margin-top: 40px;
	margin-bottom:46px;
	border-radius:6px;
	background-color: transparent;
	overflow: hidden;
}

.photographer-photo {

	min-height: 150px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	border-radius:6px;
	overflow: hidden;
}

.photographer-notes {
	text-align: left;
	padding-left: 10px;
	padding-right: 10px; 
}

.disabled .photographer-option {
	opacity: 0.1;
}

.photographer-survey {
	text-align: center;
	z-index: 1000;
	vertical-align: middle;
	opacity: 1.0;
	position: absolute;
	left: 100%;
	transform: translateX(-50%);
	top: 35%;
	width:150%;
}
.photographer-survey-button {
	
	border-radius: 3px;
}

/* portfolio */
.portfolio {
	text-align: center;
}

.portfolio-slideDeck {
	margin-top:48px;
}

.portfolio-photo {
	width:100%;
    height:auto;
}

.carousel .carousel-control {
	visibility: hidden;
}
.carousel:hover .carousel-control {
	visibility: visible;
}

.carousel-indicators {
  bottom:-50px;
  margin-bottom: 0px;
}

.carousel-indicators li {
  border-color:#999;
  background-color:#ccc;
}

.carousel-inner {
   margin-bottom:50px;
}


/* Portfolio slider */
/*
.slider-nav {
  text-align: center;
  margin-bottom: 30px;
}

.arrow-prev {
  margin-right: 45px;
  display: inline-block;
  vertical-align: middle;
}

.arrow-next {
  margin-left: 45px;
  display: inline-block;
  vertical-align: middle;
}

.slider-dots {
  list-style: none;
  display: inline-block;
  padding-left: 0;
  margin-bottom: 0;
  vertical-align: middle;
}

.slider-dots .dot {
  color: #bbbcbc;
  display: inline;
  font-size: 50px;
  margin-right: 5px;
}

.slider-dots .active-dot {
  color: #363636;
}
*/

.portfolio--name {
	margin-top: 30px
}

.portfolio--text {
	margin-top: 35px;
}

/* package */
.packages {
	text-align: center;
}

.package-header {
	margin-bottom: 26px;
}

.package-left {
	padding: 30px 30px 30px 30px;
}

.package-right {
	padding: 30px 30px 30px 30px;
	border-left: 2px solid #333;
}

.package-left p, .package-right p {

	margin: 0;
}

.package-bottom {
}

/* Reviews */
.review-author {

	text-align: right;
	font-size: 16px;
	font-weight: bold; 
	color: gray;
}



/* Footer */
#footer {
	text-align: center;
	color: #4B5152;
}

.footer--content {
	padding-top: 30px;
	padding-bottom: 30px;
}

.contactUs {
	color: #4B5152;
}



/* Popover */
#splash {
	position: fixed;
    background: rgba(0,0,0,0.92);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 500;
    opacity: 0;
    padding:0; 
    visibility: hidden;
    overflow: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    /*transition: opacity 0.5s, visibility 0s 0.5s;
    -webkit-transition: opacity 0.5s, visibility 0s 0.5s;*/
}

