div.clear {
    clear: both;
}

.container-fluid, .container {
	padding: 0;
	margin: 0;
}

.row {
	margin: 0;
}

textarea:focus, 
input[type="text"]:focus, 
input[type="password"]:focus, 
input[type="datetime"]:focus, 
input[type="datetime-local"]:focus, 
input[type="date"]:focus, 
input[type="month"]:focus, 
input[type="time"]:focus, 
input[type="week"]:focus, 
input[type="number"]:focus, 
input[type="email"]:focus, 
input[type="url"]:focus, 
input[type="search"]:focus, 
input[type="tel"]:focus, 
input[type="color"]:focus, 
.uneditable-input:focus {
	border-color: rgba(252, 107, 12, 0.8);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(252, 107, 12, 0.6);
	outline: 0 none;
}

input:focus::-webkit-input-placeholder {
	color: #CCCCCC;
}

/* carousel */

.carousel { 
	z-index: -99;
}
.carousel .item {
    z-index: -98;
    width: 100%; 
    height: 100%;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}
.carousel .one {
	background: url(../img/photos/paris.jpg) no-repeat center center;
}
.carousel .two {
	background: url(../img/photos/feet.jpg) no-repeat center center;
}
.carousel .three {
	background: url(../img/photos/beach.jpg) no-repeat center center;
}
.carousel .four {
	background: url(../img/photos/hot-air-balloon.jpg) no-repeat center center;
}
.carousel .five {
	background: url(../img/photos/jona.jpg) no-repeat center center;
}
.carousel .six {
	background: url(../img/photos/read.jpg) no-repeat center center;
}
.carousel .one, .carousel .two, .carousel .three, .carousel .four, .carousel .five, .carousel .six {
	height: 620px;
	-webkit-background-size: cover; 
	-moz-background-size: cover; 
	-o-background-size: cover; 
	background-size: cover;
}
.carousel .active.left {
    left: 0;
    opacity: 0;
    z-index: 2;
}

/* landing */

#landing {
	height: 620px;
	font-family: 'Open Sans', Arial;
}

#overlay {  
    background: rgba(0, 0, 0, .15);
    opacity: 1;
    position: absolute;
    height: 620px;
    width: 100%;
    top: 0px;
}

.content {
	position: absolute;
	top: 30px;
	width: 100%;
	padding: 0 20px;
}

#logo {
	font-family: 'Merienda';
	font-size: 26px;
	color: #FC6B0C;
	float: left;
	padding: 20px 40px;
}

.hero-captions {
	text-align: center;
	padding-top: 100px;
}

.hero-captions h1 {
	color: #ffffff;
	padding-bottom: 14px;
	font-size: 50px;
	font-weight: 600;
}

.hero-captions p {
	color: #ffffff;
	font-size: 24px;
	padding-bottom: 40px;
}

.form-group {
	padding-right: 6px;
}

.hero-captions .form-group #city-name {
	width: 356px;
	border-radius: 3px;
}

.hero-captions .form-group .datepicker {
	width: 240px;
	border-radius: 3px;
}

@media (max-width: 767px) {
	.hero-captions button {
		display: block;
	}
	.hero-captions {
		padding-top: 0;
	}
	.hero-captions h1 {
		font-size: 40px;
		font-weight: 600;
	}
	.hero-captions p {
		font-size: 24px;
		padding-bottom: 20px;
	}
}

/* navbar */

.navbar-default {
	background-color: transparent;
	border: none;
	padding: 10px 30px;
}

/*.navbar {
	float: right;
}*/

.navbar .navbar-collapse {
	/*padding-right: 0px;*/
}

@media (min-width: 767px) {
	.navbar-collapse {
		float: right;
		margin: 0;
	}
	.navbar-collapse .navbar-nav .text-link a {
		top: 7px;
	}
	.navbar-collapse .nav li a {
		padding-left: 30px;
		padding-right: 0;
	}
}

@media (max-width: 767px) {
	.navbar-collapse {
		border-bottom: 1px solid transparent;
	}
	.navbar-collapse ul li a {
		text-align: center;
		font-size: 16px;
		padding: 15px;
		border-bottom: 1px solid #e7e7e7;
	}
	.navbar-collapse ul li #last-nav {
		padding-right: 15px;
		border-bottom: none;
	}
	.navbar-nav {
		margin: 0 -15px;
	}
	.navbar-toggle {
		margin-right: 0;
		margin-top: 0;
	}
}

.navbar-collapse .nav li a {
	color: #ffffff;
}

.navbar-collapse .nav li a:hover {
	color: #FC6B0C;
}

.btn-primary,
.btn-primary:focus {
	background-color: #FC6B0C;
	border-color: #FC6B0C;
	padding-left: 18px;
	padding-right: 18px;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 3px;
}

.btn-primary:active,
.btn-primary.active,
.btn-primary:focus:active,
.btn-primary:hover {
	background: #b74a02;
	border-color: #b74a02;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

li a .transparent:focus,
li a .transparent {
	background-color: transparent;
	border-color: #FC6B0C;
	color: #ffffff;
	padding-left: 18px;
	padding-right: 18px;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 3px;
}

li a .transparent:active
li a .transparent.active,
li a .transparent:focus:active,
li a .transparent:hover {
	background-color: #FC6B0C;
	border-color: #FC6B0C;
	color: #ffffff;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

/* popular cities */

#popularCities {
	color: #4f4d4d;
	font-family: 'Open Sans', Arial;
	padding: 60px 20px 80px 20px;
	max-width: 1200px;
}

#popularCities h2 {
	margin-bottom: 60px;
	font-size: 36px;
	text-align: center;
	letter-spacing: 1px;
}

#popularCities .col-sm-6,
#popularCities .col-sm-3 {
	padding: 0;
}

.first-col img, 
.col-xs-6 img {
	width: 100%;
	z-index: -1;
	-webkit-transition: opacity 0.3s ease-in 0s;
	-moz-transition: opacity 0.3s ease-in 0s;
	-o-transition: opacity 0.3s ease-in 0s;
	transition: opacity 0.3s ease-in 0s;
}

.image-container {
	margin: 10px 10px;
	width: auto;
	background: black;
}

.image-container:hover img {
	opacity: 0.4;
}

.col-sm-6 h3,
.col-sm-3 h3 {
	color: #ffffff;
	position: absolute;
	display: block;
	width: 100%;
	left: 0;
	text-align: center;
	top: 35%;
}
.first-col h3 {
	top: 45%;
}

 /* Leave your camera behind */

#description {
	height: 620px;
	padding: 60px 20px 80px 20px;
	background: url(../img/photographer.jpg) no-repeat center center; 
	-webkit-background-size: cover; 
	-moz-background-size: cover; 
	-o-background-size: cover; 
	background-size: cover;
}

#description .col-md-6 {
	padding-left: 60px;
}

#description article {
	padding-left: 10px;
	padding-right: 10px;
	font-family: 'Open Sans', Arial;
}

#description article h2 {
	color: #ffffff;
	padding-bottom: 26px;
	font-size: 36px;
	letter-spacing: 1px;
}

#description article p {
	color: #D7D7D7;
	font-weight: 300;
	line-height: 30px;
	font-size: 18px;
	margin-top: 24px;
}

@media (max-width: 600px) {
	#description {
		height: 760px;
	}

	#description .container-fluid {
		padding-top: 30px;
	}

	#description .col-md-6 {
		padding-left: 0;
	}
}

/* feature */

#feature {
	color: #4f4d4d;
	font-family: 'Open Sans', Arial;
	padding: 60px 20px 80px 20px;
	max-width: 1200px;
}

#feature h2 {
	padding-bottom: 60px;
	font-size: 36px;
	text-align: center;
}

#feature article p {
	color: #747c83;
	font-size: 16px;
	font-weight: 300;
	margin-top: 12px;
	line-height: 26px;
}

#feature button,
#feature button:focus {
	display: block;
	margin: 30px auto 0 auto;
	background-color: transparent;
	border-color: #FC6B0C;
	color: #FC6B0C;
	padding: 12px 30px;
	font-size: 18px;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

#feature button:hover,
#feature button:active,
#feature button.active,
#feature button:focus:active {
	background-color: #FC6B0C;
	border-color: #FC6B0C;
	color: #ffffff;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.feature-photographer {
	margin: 30px 0px;
}

.feature-photographer a h3 {
	font-family: 'Open Sans', Arial;
	font-weight: 300;
	font-size: 24px;
	margin-top: 0;
	display: inline;
	color: #4f4d4d;
}

.feature-photographer a:hover {
	text-decoration: none;
}

.feature-photographer a h3:hover {
	color: #FC6B0C;
}

.feature-icons {
	display: inline;
	margin-top: 1px;
	font-size: 20px;
	margin-left: 12px;
}

.feature-icons i {
	padding-right: 4px;
	color: #FC6B0C;
}

.feature-icons i:hover {
	color: #b74a02;
}

/* CTA */

#cta {
	height: 600px;
	background: url(../img/photos/single_person.jpg) no-repeat center center; 
	-webkit-background-size: cover; 
	-moz-background-size: cover; 
	-o-background-size: cover; 
	background-size: cover;
	color: #ebebeb;
	font-family: 'Open Sans', Arial;
}

#cta #overlay-cta {
	background:rgba(0,0,0, 0.16);
    opacity: 1;
    position: relative;
    height: 100%;
    width: 100%;
    padding: 60px 40px;
}

#cta h2 {
	padding-bottom: 60px;
	font-size: 34px;
	margin-top: 60px;
	letter-spacing: 1px;
}

@media (max-width: 767px) {
	#cta h2 {
		margin-top: 20px;
	}
}

#cta p {
	color: #ebebeb;
	font-size: 18px;
	line-height: 30px;
	font-weight: 300;
}

#cta .col-md-7 {
	padding: 0;
}

#cta input {
	width: 320px;
	border-radius: 4px;
	border-color: #FC6B0C;
}

#cta form {
	margin-top: 60px;
}

@media (max-width: 470px) {
	#cta form {
		margin-top: 20px;
	}
	#cta h2 {
		padding-bottom: 30px;
	}
}

/* footer */

footer {
	color: #444343;
	text-align: center;
}

footer .container {
	padding: 40px 0 60px 0;
	width: 100%;
}

footer a {
	color: #444343;
}

footer a:hover {
	color: #FC6B0C;
	text-decoration: none;
}

.social-icons {
	margin: 20px 0 40px 0;
}

.social-icons i {
	padding-left: 24px;
	padding-right: 24px;
	color: #FC6B0C;
}

.social-icons i:hover {
	color: #b74a02;
}

.footer-info {
	font-family: 'Open Sans', Arial;
	font-size: 18px;
}






